*{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 1px solid rgb(192,192,192);
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 24px;
    background-color: white;
}
.main__content{
    font-size: 20px;
    padding-top: 70px;
}
.header__container{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
}
.header__category{
    display: flex;
    align-items: center;
}
.header__category .header__category-logo img{
    width: 120px;
    height: 48px;
}
.header__category .header__category-navigation{
    margin-left: 15px;
}
.header__category .header__category-navigation .categories{
    display: flex;
    list-style: none;
}
.header__category .header__category-navigation .categories li{
    margin-right: 15px;
    font-size: 20px;
}
.header__category .header__category-navigation .categories li:last-child{
    background-image: url(../img/fire.png);
    background-position: 0%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-left: 22px;

}
.header__container .header__search{
    display: flex;
    /* margin-left: 63px; */
    margin-left: auto;
}
.header__container .header__search img{
    width: 35px;
    height: 32px;
}
.header__language{
    margin-right: 40px;
}
.circle{
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 10px;
}
